.left {
    margin-left: 2.5%;
    width: 40%;
}
.middle {
    position: absolute;
    top: 30px;
    margin-left: 42.5%;
    width: 15%;
}
.right {
    position: absolute;
    top: 0px;
    margin-left: 57.5%;
    width: 40%;
}
.left select, .right select {
    width: 100%;
}
.middle button:not(#tipka-ogranicenja):not([type="submit"]) {
    width: 2em;
} 
.middle > * {
    margin: 0 auto !important;
    display: block !important;
}
nav {
    text-align: center;
    margin-top: 10px !important;
}
.middle > button[type="submit"] {
    margin-bottom: 10px !important;
}
.error {
    text-align: center;
    color: red;
    margin-top: 10px !important;
}
.ui-dialog .ui-state-error {
    padding: .3em;
}
#tipka-ogranicenja {
    margin: 10px auto !important;
}
.middle #tipka-ogranicenja, .middle button[type="submit"] {
    width: 80%;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
#ogranicenja, #serijalizirana-forma-ogranicenja {
    display: none;
}
input[type="radio"] {
    margin-right: 20px !important;
}
#forma-ogranicenja input, #forma-ogranicenja select {
    margin: 0 10px;
}
.brisi-ogranicenje {
    width: 40px;
    height: 40px;
    position: relative;
    top: 15px;
} 

input[type="number"] {
    width: 3em;
}

#forma-ogranicenja > div {
    white-space: nowrap;
}

#calendar {
    min-width: 700px;
}