.left {
    margin-left: 2.5%;
    width: 40%;
    width: calc((95% - 17em)/2);
}
.middle {
    position: absolute;
    top: 30px;
    margin-left: 42.5%;
    margin-left: calc(2.5% + (95% - 17em)/2);
    width: 15%;
    width: 17em;
}
.right {
    position: absolute;
    top: 0px;
    margin-left: 57.5%;
    margin-left: calc(97.5% - (95% - 17em)/2);
    width: 40%;
    width: calc((95% - 17em)/2);
}
.left select, .right select {
    width: 100%;
}
.middle button:not(#tipka-ogranicenja):not([type="submit"]) {
    width: 2em;
} 
.middle > * {
    margin: 0 auto !important;
    display: block !important;
}
nav {
    text-align: center;
    margin-top: 10px !important;
}
.middle > button[type="submit"] {
    margin-bottom: 10px !important;
}
.error {
    text-align: center;
    color: red;
    margin-top: 10px !important;
}
.ui-dialog .ui-state-error {
    padding: .3em;
}
#tipka-ogranicenja {
    margin: 10px auto !important;
}
.middle #tipka-ogranicenja, .middle button[type="submit"] {
    width: 80%;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
#ogranicenja {
    display: none;
}
input[type="radio"] {
    margin-right: 20px !important;
}
#forma-ogranicenja label {
    margin: 0 10px;
}
.brisi-ogranicenje {
    width: 40px;
    height: 40px;
    position: relative;
    top: 15px;
} 

input[type="number"] {
    width: 3em;
}

#forma-ogranicenja > div {
    white-space: nowrap;
}

#forma-ogranicenja select {
    width: 10vw;
}

#calendar {
    min-width: 700px;
    width: 99.95%;
}

#study {
    width: auto;
    margin: 0 auto;
}

#study ~ button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 0 3em;
}

.divTimeSetterContainer {
    margin: -4px 0 0 2px;
}

.divTimeSetterContainer input.timePart {
    margin-top: 3px;
}

.divTimeSetterContainer input.hours, .divTimeSetterContainer input.minutes {
    width: 30px;
}
